<section class="main" [ngStyle]="{'background-color': backgroundColor}">
  <div class="cards">

    <div class="card bnp">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <img class="icon" ngSrc="images/BNP-logo.svg" alt="BNP Paribas Logo" height="80" width="60" priority>
          <br>
          Projets Internes
          <br>
          BNP Paribas
          <br>
          <div class="name">Java & Angular</div>
        </div>
      </div>
    </div>


    <div class="card pokta">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <img class="icon" ngSrc="images/Pokta-logo.svg" alt="Pokta Logo" height="80" width="60" priority>
          <br>
          Pokta Project
          <br>
          <div class="name">React-Native</div>
          <br>
          <div class="description">Application d'organisation de matchs de football (en cours de développement)</div>
        </div>
      </div>
    </div>


    <div class="card school">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <i class="icon fab fa-github"></i>
          <br>
          Projets scolaires
          <br>
          <div class="name">Java, Angular, React, PHP...</div>
          <br>
          <div class="description">Disponibles sur mon GitHub</div>
        </div>
      </div>
    </div>
  </div>
</section>
