<section class="main" [ngStyle]="{'background-color': backgroundColor}">
  <div class="cards">

    <div class="card bnp">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <img class="icon" ngSrc="images/BNP-logo.svg" alt="BNP Paribas Logo" height="80" width="60" priority>
          <br>
          Internal Projects
          <br>
          BNP Paribas
          <br>
          <div class="name">
            Java & Angular<br/>
            Microservices<br/>
            DevOps & Agile
          </div>
        </div>
      </div>
    </div>


    <div class="card homework">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <img class="icon" ngSrc="images/Homework-logo.png" alt="Homework Logo" height="80" width="60" priority>
          <br>
          Homework Project
          <br>
          <div class="name">Java (Springboot) & Angular</div>
          <br>
          <div class="description">Platform connecting artisans and individuals</div>
        </div>
      </div>
    </div>


    <div class="card pokta">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <img class="icon" ngSrc="images/Pokta-logo.svg" alt="Pokta Logo" height="80" width="60" priority>
          <br>
          Pokta Project
          <br>
          <div class="name">Java (Springboot) & React Native</div>
          <br>
          <div class="description">Football match organizing mobile application (under development)</div>
        </div>
      </div>
    </div>


    <div class="card training">
      <div class="e-card playing">
        <div class="image"></div>

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>


        <div class="infotop">

          <i class="fas fa-chalkboard-teacher"></i> <br/> <br/>
          Training <br/>
          <div class="name">
            Web Development <br/>
            (HTML, CSS, JavaScript, Angular), <br/>
            Web Servers, <br/>
            Bash/PowerShell <br/>
          </div> <br/>
          <div class="description">GEMA, Nexa</div>
        </div>
      </div>
    </div>
  </div>
</section>
