@media screen and (min-width: 48rem) {

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  section {
    height: 500vh;
    position: relative;
  }

  ul {
    display: flex;
    position: sticky;
    top: 0;
    overflow-x: visible;
  }

  li {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    overflow: hidden;
  }

  .photo-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .description-side {
    display: flex;
    height: 100%;
    position: relative;
    top: 12rem;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    span {
      font-family: "Space Mono", monospace;
      width: 17rem;
      text-align: center;
      color: white;
    }
  }

  * {
    font-family: Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
  }

  h2 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: "SUSE", sans-serif;
    letter-spacing: -3px;
    line-height: 1.2;
    position: relative;
    bottom: 30px;
    display: inline-block;
  }

  img {
    width: 300px;
    height: 400px;
  }

  .icon {
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .logo {
    height: 7rem;
  }

}


@media screen and (max-width: 48rem) {

  ul,
  li {
    margin: 0 2rem;
    padding: 2rem 0;
    list-style: none;
    width: 100%;
  }

  section {
    height: 85rem;
    position: relative;
  }

  ul {
    display: flex;
    flex-direction: column;
    top: 1rem;
  }

  li {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: center;
  }

  .photo-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .description-side {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    scale: 0.75;
    top: 2rem;
    left: -11.5rem;
    backdrop-filter: blur(5px) brightness(0.9) contrast(1.1);
    padding: 1rem;
    border-radius: 10%;

    span {
      font-family: "Space Mono", monospace;
      width: 17rem;
      text-align: center;
      color: white;
    }
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
  }

  h2 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: "SUSE", sans-serif;
    letter-spacing: -3px;
    line-height: 1.2;
    position: relative;
    bottom: 30px;
    display: inline-block;
  }

  img {
    width: 240px;
    height: 320px;
  }

  .icon {
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .logo {
    height: 6rem;
  }

}
