@media screen and (min-width: 48rem) {
  .main {
    height: 50rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
  }

  path {
    transition: fill 0.5s ease-in-out;
  }

  h1 {
    position: relative;
    z-index: 2;
    scale: 2;
  }

  a {
    color: #FFE37B;
    text-decoration: none;
  }

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div {
    font-family: "Space Mono", monospace;
  }
}

@media screen and (max-width: 48rem) {
  .main {
    height: 45rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-sizing: border-box;
  }

  path {
    transition: fill 0.5s ease-in-out;
  }

  h1 {
    scale: 1.2;
  }

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div {
    font-family: "Space Mono", monospace;
  }
}

